NEXT_PUBLIC_AI_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBrF9-KghkUZbdS_HcqARfUDGaxlYjvRLc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=plant-monitoring-system-ca35f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://plant-monitoring-system-ca35f-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=plant-monitoring-system-ca35f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=plant-monitoring-system-ca35f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=210678468472
NEXT_PUBLIC_FIREBASE_APP_ID=1:210678468472:web:ee6f5300b2d88389d1028d
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4Y5ZEEMHNE
NEXT_PUBLIC_FIREBASE_DATABASE_PATH=plant